body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.header {
  height: 8vh;
  width: 100vw;
  background-color: black;
  margin: 0px;
  position: fixed;
  z-index: 4;
}

.base-layout {
  background-color: rgb(61, 61, 61);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  position: absolute;
}

.base-content {
  width: 100vw;
}

.content {
  display: flex;
  justify-content: center;
}

.nav-icon {
  padding: 0.5vh 0 0 1vh;
  filter: invert(100%);
  z-index: 5;
}

.nav-content a {
  color: white;
  text-decoration: none;
}

.nav-content {
  width: 300px;
  background: black;
  color: white;
  height: 100vh;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-content.expanded-false {
  transform: translateX(-300px);
  transition: .3s ease-in-out;
}

.nav-content.expanded-true {
  transform: translateX(0px);
  transition: .3s ease-in-out;
  height: 100vh;
}

.nav-links {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 50vh;
  font-size: 200%;
}

.social {
  color: black;
  display: flex;
  width: 250px;
  height: 40vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.social-links {
  margin: 30px;

}

.wrapper {
  transition: 0.5s;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: absolute;
}

.visible-true {
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.visible-false {
  background: rgba(0, 0, 0, 0)
}

@media only screen and (max-width: 600px) {
  .header {
    height: 9vh;
  }
}